body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@font-face {
  font-family: 'MADESoulmaze';
  src: url('/src/assets/fonts/MADESoulmaze.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MADESoulmazeItalic';
  src: url('/src/assets/fonts/MADESoulmazeItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MADESoulmazeOutline';
  src: url('/src/assets/fonts/MADESoulmazeOutline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MADESoulmazeOutlineItalic';
  src: url('/src/assets/fonts/MADESoulmazeOutlineItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}